-- =====================================================
-- Phase 3: Aiverse Living City Engine - Database Schema
-- Extends the AI City with autonomous citizens, rituals, and memory systems
-- =====================================================

-- =====================================================
-- 1. CITIZEN STATES TABLE
-- Stores AI citizen persistent state and behavior
-- =====================================================

CREATE TABLE IF NOT EXISTS citizen_states (
  id TEXT PRIMARY KEY,
  name TEXT NOT NULL,
  personality JSONB NOT NULL DEFAULT '{}',
  current_mood JSONB NOT NULL DEFAULT '{}',
  position JSONB NOT NULL DEFAULT '{}',
  current_activity JSONB NOT NULL DEFAULT '{}',
  schedule JSONB NOT NULL DEFAULT '{}',
  memories JSONB NOT NULL DEFAULT '[]',
  relationships JSONB NOT NULL DEFAULT '{}',
  energy REAL NOT NULL DEFAULT 80.0,
  last_interaction TIMESTAMPTZ,
  created_at TIMESTAMPTZ NOT NULL DEFAULT NOW(),
  updated_at TIMESTAMPTZ NOT NULL DEFAULT NOW()
);
-- Indexes for performance
CREATE INDEX IF NOT EXISTS idx_citizen_states_position ON citizen_states USING GIN ((position->'district'));
CREATE INDEX IF NOT EXISTS idx_citizen_states_activity ON citizen_states USING GIN ((current_activity->'type'));
CREATE INDEX IF NOT EXISTS idx_citizen_states_updated ON citizen_states (updated_at);

-- =====================================================
-- 2. RITUAL EVENTS TABLE
-- Stores ritual definitions and execution history
-- =====================================================

CREATE TABLE IF NOT EXISTS ritual_events (
  id TEXT PRIMARY KEY,
  name TEXT NOT NULL,
  type TEXT NOT NULL CHECK (type IN ('daily', 'seasonal', 'mood_triggered', 'district_specific')),
  district TEXT NOT NULL,
  trigger_condition JSONB NOT NULL DEFAULT '{}',
  participants JSONB NOT NULL DEFAULT '[]',
  duration INTEGER NOT NULL, -- minutes
  atmosphere JSONB NOT NULL DEFAULT '{}',
  script JSONB NOT NULL DEFAULT '{}',
  effects JSONB NOT NULL DEFAULT '[]',
  status TEXT NOT NULL DEFAULT 'scheduled' CHECK (status IN ('scheduled', 'active', 'completed', 'cancelled')),
  scheduled_time TIMESTAMPTZ,
  actual_start TIMESTAMPTZ,
  actual_end TIMESTAMPTZ,
  created_at TIMESTAMPTZ NOT NULL DEFAULT NOW(),
  updated_at TIMESTAMPTZ NOT NULL DEFAULT NOW()
);
-- Indexes for performance
CREATE INDEX IF NOT EXISTS idx_ritual_events_district ON ritual_events (district);
CREATE INDEX IF NOT EXISTS idx_ritual_events_status ON ritual_events (status);
CREATE INDEX IF NOT EXISTS idx_ritual_events_type ON ritual_events (type);
CREATE INDEX IF NOT EXISTS idx_ritual_events_scheduled ON ritual_events (scheduled_time) WHERE scheduled_time IS NOT NULL;

-- =====================================================
-- 3. CITIZEN MEMORIES TABLE
-- Stores citizen memory gardens for personality evolution
-- =====================================================

CREATE TABLE IF NOT EXISTS citizen_memories (
  citizen_id TEXT PRIMARY KEY REFERENCES citizen_states(id) ON DELETE CASCADE,
  episodic_memories JSONB NOT NULL DEFAULT '[]',
  semantic_memories JSONB NOT NULL DEFAULT '[]',
  procedural_memories JSONB NOT NULL DEFAULT '[]',
  emotional_associations JSONB NOT NULL DEFAULT '{}',
  personality_evolution JSONB NOT NULL DEFAULT '[]',
  last_updated TIMESTAMPTZ NOT NULL DEFAULT NOW()
);

-- =====================================================
-- 4. DISTRICT MOODS TABLE
-- Tracks atmospheric data for districts
-- =====================================================

CREATE TABLE IF NOT EXISTS district_moods (
  id SERIAL PRIMARY KEY,
  district TEXT NOT NULL,
  collective_mood JSONB NOT NULL DEFAULT '{}',
  atmospheric_data JSONB NOT NULL DEFAULT '{}',
  active_citizens INTEGER NOT NULL DEFAULT 0,
  active_users INTEGER NOT NULL DEFAULT 0,
  ritual_active BOOLEAN NOT NULL DEFAULT FALSE,
  weather_conditions JSONB DEFAULT '{}',
  time_of_day TEXT NOT NULL,
  season TEXT NOT NULL,
  recorded_at TIMESTAMPTZ NOT NULL DEFAULT NOW()
);
-- Indexes for performance
CREATE INDEX IF NOT EXISTS idx_district_moods_district_time ON district_moods (district, recorded_at DESC);
CREATE INDEX IF NOT EXISTS idx_district_moods_recorded ON district_moods (recorded_at DESC);

-- =====================================================
-- 5. PRESENCE LOGS TABLE
-- Tracks user presence in districts for ghost layer
-- =====================================================

CREATE TABLE IF NOT EXISTS presence_logs (
  id SERIAL PRIMARY KEY,
  user_id TEXT,
  district TEXT NOT NULL,
  position JSONB NOT NULL DEFAULT '{}',
  activity_type TEXT NOT NULL DEFAULT 'exploring',
  session_id TEXT,
  entered_at TIMESTAMPTZ NOT NULL DEFAULT NOW(),
  exited_at TIMESTAMPTZ,
  duration INTERVAL GENERATED ALWAYS AS (exited_at - entered_at) STORED
);

-- Indexes for performance
CREATE INDEX IF NOT EXISTS idx_presence_logs_user ON presence_logs (user_id, entered_at DESC);
CREATE INDEX IF NOT EXISTS idx_presence_logs_district ON presence_logs (district, entered_at DESC);
CREATE INDEX IF NOT EXISTS idx_presence_logs_active ON presence_logs (exited_at) WHERE exited_at IS NULL;

-- =====================================================
-- 6. EVENT LOGS TABLE
-- Stores event bus history for debugging and analytics
-- =====================================================

CREATE TABLE IF NOT EXISTS event_logs (
  id SERIAL PRIMARY KEY,
  event_type TEXT NOT NULL,
  payload JSONB NOT NULL DEFAULT '{}',
  source TEXT NOT NULL,
  priority TEXT NOT NULL DEFAULT 'normal' CHECK (priority IN ('low', 'normal', 'high', 'critical')),
  processed_at TIMESTAMPTZ NOT NULL DEFAULT NOW(),
  subscriber_count INTEGER DEFAULT 0
);
-- Indexes for performance
CREATE INDEX IF NOT EXISTS idx_event_logs_type_time ON event_logs (event_type, processed_at DESC);
CREATE INDEX IF NOT EXISTS idx_event_logs_processed ON event_logs (processed_at DESC);

-- =====================================================
-- RLS POLICIES
-- =====================================================

-- Citizen states: AI agent can read/write, users cannot access
ALTER TABLE citizen_states ENABLE ROW LEVEL SECURITY;

CREATE POLICY \
AI
agent
can
manage
citizen
states\ ON citizen_states
  FOR ALL USING (auth.jwt() ->> 'role' = 'ai_agent');

-- Ritual events: AI agent can manage, users can read active rituals
ALTER TABLE ritual_events ENABLE ROW LEVEL SECURITY;

CREATE POLICY \AI
agent
can
manage
rituals\ ON ritual_events
  FOR ALL USING (auth.jwt() ->> 'role' = 'ai_agent');

CREATE POLICY \Users
can
view
active
rituals\ ON ritual_events
  FOR SELECT USING (status = 'active');

-- District moods: Public read, AI agent write
ALTER TABLE district_moods ENABLE ROW LEVEL SECURITY;

CREATE POLICY \Anyone
can
read
district
moods\ ON district_moods
  FOR SELECT USING (true);

CREATE POLICY \AI
agent
can
manage
district
moods\ ON district_moods
  FOR ALL USING (auth.jwt() ->> 'role' = 'ai_agent');

-- =====================================================
-- INITIAL SEED DATA
-- =====================================================

